{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
</head>
<body>
    <h2>Student Profile</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <input name="full_name" placeholder="Full Name" value="{{ profile.full_name }}"><br>
  <input type="date" name="dob" value="{{ profile.dob }}"><br>
  <input name="gender" placeholder="Gender" value="{{ profile.gender }}"><br>
  <input name="category" placeholder="Category" value="{{ profile.category }}"><br>

  <input name="college_name" placeholder="College Name" value="{{ profile.college_name }}"><br>
  <input name="course" placeholder="Course" value="{{ profile.course }}"><br>
  <input name="year_of_study" placeholder="Year of Study" value="{{ profile.year_of_study }}"><br>
  <input name="annual_income" placeholder="Annual Income" value="{{ profile.annual_income }}"><br>

  Aadhaar: <input type="file" name="aadhaar"><br>
  Marksheet: <input type="file" name="marksheet"><br>

  <button type="submit">Save Profile</button>
</form>

<br>
<a href="/dashboard/">Back to Dashboard</a>

</body>
</html>